<%- include('../partials/head') %>
    <%- include('../partials/header') %>
    <div class="card-columns" id="menuItemsContainer">
    <div class="col-sm-4">        
        <div class="well">
            <h3>Look I'm the Menu Sidebar!</h3>
              <table>
                <tr>
                  <th>Name</th>
                  <th>Price</th>
                </tr>
        <% result.forEach(function(obj){ %>
                <tr>
                  <td><%=obj.name%></td>
                  <td><%=obj.price%></td>
                </tr>
                <%})%>
        </table>   
        </div>
    </div>
    </div>

</div>

<footer>
    <%- include('../partials/footer') %>
</footer>